<h2>A programot készítette:</h2>
<dl class="dl-horizontal">
  <dt>Név:</dt>
  <dd>Orosz Tamás</dd>
  <dt>Email cím:</dt>
  <dd>tamas.orosz93@gmail.com</dd>
  <dt>Dátum:</dt>
  <dd>2016.01.17.</dd>
</dl>